apiVersion: v1
kind: ConfigMap
metadata:
  name: loki
data:
  config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    common:
      path_prefix: /var/loki
      replication_factor: 1
      
    memberlist:
      join_members: []
    
    ingester:
      lifecycler:
        ring:
          kvstore:
            store: memberlist
        final_sleep: 0s

    schema_config:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb_shipper:
        active_index_directory: /var/loki/index
        cache_location: /var/loki/cache
      filesystem:
        directory: /var/loki/chunks

    limits_config:
      retention_period: 168h
      reject_old_samples: true
      reject_old_samples_max_age: 168h

    ruler:
      enable_api: false
